<!DOCTYPE html>
<html>
  <head>
    <title>Detection</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .loader {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="">
          <img
            src="static\assets\logo.jfif"
            alt="Logo"
            width="50"
            height="50"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SignUp</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col text-center">
          <h2>Detection and Results</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <a href="/" id="live-detection-btn" class="btn btn-primary">
            Go Back To Single Image Detection
          </a>
          <button id="detection-btn" class="btn btn-primary">Detection</button>
          <a href="http://127.0.0.1:5500/results.html" class="btn btn-success">Results</a>
        </div>
      </div>
    </div>

    <div id="loader" class="text-center mt-3" style="display: none">
      <div class="loader"></div>
    </div>

    <script>
      $(document).ready(function () {
        $("#detection-btn").click(function () {
          showLoader();

          // Make an AJAX request to the API
          $.get("http://127.0.0.1:5000/api/detect", function (response) {
            hideLoader();
            if (response.status === 200) {
              showAlert(response.message);
              window.location = "http://127.0.0.1:5500/results.html";
            }
          });
        });

        function showLoader() {
          $("#detection-btn").attr("disabled", true);
          $("#loader").show();
        }

        function hideLoader() {
          $("#detection-btn").attr("disabled", false);
          $("#loader").hide();
        }

        function showAlert(response) {
          alert(response);
        }
      });
    </script>
  </body>
</html>
